@font-face {
    font-family: "Helvetica";
    src: url("https://db.onlinewebfonts.com/t/5c5a257758cff0acee4d28ff555f3bc5.eot");
    src: url("https://db.onlinewebfonts.com/t/5c5a257758cff0acee4d28ff555f3bc5.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5c5a257758cff0acee4d28ff555f3bc5.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/5c5a257758cff0acee4d28ff555f3bc5.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/5c5a257758cff0acee4d28ff555f3bc5.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/5c5a257758cff0acee4d28ff555f3bc5.svg#Helvetica")format("svg");
}

@font-face {
    font-family: "Akira Expanded";
    src: url("https://db.onlinewebfonts.com/t/6fa591daa0aa2d0f845653486954aca5.eot");
    src: url("https://db.onlinewebfonts.com/t/6fa591daa0aa2d0f845653486954aca5.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6fa591daa0aa2d0f845653486954aca5.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/6fa591daa0aa2d0f845653486954aca5.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/6fa591daa0aa2d0f845653486954aca5.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/6fa591daa0aa2d0f845653486954aca5.svg#Akira Expanded")format("svg");
}
   * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    }

    body{
        font-family: "Helvetica";
    }

    nav{
        display: flex;
        background-color: black;
        color: white;
    }

    .navbar{
        padding: 30px 0 20px 20px;
    }

    .rotate{
    rotate: 180deg;
    display: inline-block;   
    margin-left: 10px;        
    }

    .brand{
        padding-left: 300px;
        padding-top: 25px;   
        padding-bottom: 0;             
    }

    .navbar a{
        color: white;
        margin-right: 15px;
        font-size: 16px;
    }                

    .brand h1{
        font-family: "Akira Expanded";
    }