@font-face {
    font-family: "Helvetica";
    src: url("https://db.onlinewebfonts.com/t/5c5a257758cff0acee4d28ff555f3bc5.eot");
    src: url("https://db.onlinewebfonts.com/t/5c5a257758cff0acee4d28ff555f3bc5.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5c5a257758cff0acee4d28ff555f3bc5.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/5c5a257758cff0acee4d28ff555f3bc5.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/5c5a257758cff0acee4d28ff555f3bc5.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/5c5a257758cff0acee4d28ff555f3bc5.svg#Helvetica")format("svg");
}

@font-face {
    font-family: "Akira Expanded";
    src: url("https://db.onlinewebfonts.com/t/6fa591daa0aa2d0f845653486954aca5.eot");
    src: url("https://db.onlinewebfonts.com/t/6fa591daa0aa2d0f845653486954aca5.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6fa591daa0aa2d0f845653486954aca5.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/6fa591daa0aa2d0f845653486954aca5.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/6fa591daa0aa2d0f845653486954aca5.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/6fa591daa0aa2d0f845653486954aca5.svg#Akira Expanded")format("svg");
}
   * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    }

    body{
        font-family: "Helvetica";
    }

    nav{
        display: flex;
        position: sticky;
        top: 0%;
        background-color: black;
        color: white;
    }

    .navbar{
        padding: 30px 0 20px 20px;
    }

    .rotate{
    rotate: 180deg;
    display: inline-block;   
    margin-left: 10px;        
    }

    .brand{
        padding-left: 430px;
        padding-top: 25px;   
        padding-bottom: 0;             
    }

    .navbar a{
        color: white;
        margin-right: 15px;
        font-size: 16px;
    }                

    .brand h1{
        font-family: "Akira Expanded";
    }
    .image-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .image1 {
        width: 100%;
    }
	.image-gallery {
		width: 100%;
		overflow-x: auto;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch; /* add this to enable smooth scrolling on mobile devices */
	}
	.image {
		width: 400px; /* adjust the width to fit your needs */
		margin: auto;
		display: inline-block;
	}
	.image-gallery::-webkit-scrollbar {
		display: none; /* hide the scrollbar on desktop devices */
	}
    .image-purchase {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .imagebonus {
        width: 100%;
    }
    footer {
        background-color: black;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .footerkanan h2,.footerkiri h2 {
        border-bottom: 3px solid white;
        width: 170px;
        align-items: left;
        margin: 0 0 15px 0;
    }

    .footerkanan h2{
        width: 320px;
    }



    .footer-container{
        display: flex;
        padding: 25px 0 80px 40px;
        
    }

    .footer-container li{
        list-style: none;
        margin: 0 0 10px 0;
    }

    .footerkanan{
        margin: 0 0 0 100px;
    }
    .footer-container a{
        color: white;
    }
    